blib*
Makefile.old
Build
_build*
pm_to_blib*
.lwpcookies
Tapper-*
cover_db
MANIFEST.bak
xyz.html
xyz2.html
t/tapper_schema_reportsdb_test.sqlite
t/tapper_schema_testrundb_test.sqlite
t/tapper_schema_testsdb_testdb.sqlite
t/tapper_schema_hardwaredb_test.sqlite
tapper_testrundb_development.sqlite
tapper_reportsdb_development.sqlite
MANIFEST
META.yml
MYMETA.yml
t/file_upload/4/console
inc/
Makefile

