blib*
Makefile
Makefile.old
Build
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
Artemis-*
cover_db
MANIFEST.bak
xyz.html
xyz2.html
t/artemis_schema_reportsdb_test.sqlite
t/artemis_schema_testrundb_test.sqlite
t/artemis_schema_testsdb_testdb.sqlite
t/artemis_schema_hardwaredb_test.sqlite
artemis_testrundb_development.sqlite
artemis_reportsdb_development.sqlite
MANIFEST
META.yml
